@model HelpDeskTest.Models.IBank

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>IBank</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StatusId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfRegistration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfRegistration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfExit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfExit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserPassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserPassword)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
